body {
  font-family: Helvetica, Arial, sans-serif; 
  font-size: 1.1em;
  margin: 0px;
  padding: 0px;
}
header,
header .left,
header .right,
header .middle {
  position: relative;
  top: 0px;
  height: 170px;
}
header {
  padding: 0px;
  margin: 0px;
  background: #fff;
  height: auto;
}
.left {
  background: url('/assets/images/header_left.gif') repeat-x;
  float: left;
  width: 40%;
  z-index: 5;
}
.middle {
  background: url('/assets/images/header_center_2.gif') no-repeat #FFF;
  width: 706px;
  left: 45%;
  margin: 0 0 0 -354px;
  z-index: 6;
}
.right {
  background: url('/assets/images/header_right.gif') repeat-x;
  right: 0px;
  float: right;
  width: 50%;
  z-index: 2;
}
.header_bottom {
  width: 63%;
  margin: 0 0 2.2em 0;
  text-align: right;
}
#subtitle {
  font-weight: normal; 
  font-size: 12px;
  background-color: #000;
  text-decoration: none;
  color: #fff;
  padding: 0;
}

#main {
  width: 70%;
}
#content {
  margin: 0 auto;
  width: 80%;
}
.post { 
  margin: 0;
  padding: 0 20px;
  background: #f1f1f2;
}
.post h1,
.post h2,
.post h3 {
  margin: 1.5em -20px 1em -20px;
  padding: .5em 20px;
}
.post h1 {
  margin-top: 0;
  float: left;
  width: 100%;
  background: #e6e7e8;
  font-size: 1.2em;
  border-bottom: 5px solid #FFF;
}
.post h2 {
  font-size: 1.1em;
  border-bottom: 2px solid #FFF;
}
.post h3 {
  font-size: 1em;
  border-bottom: 1px solid #FFF;
}
.post img {
  width: 100%;
  border: 1px solid #e6e7e8;
}
.post blockquote {
  margin: 0;
  padding: .2em 20px;
  background: #FFF;
  border-left: 10px solid #e6e7e8;
}
.post pre {
  padding: .5em;
  display: block;
  background: #FFF;
}
.post .data {
  margin: 1em 0;
  padding: .5em 0;
  text-align: right;
  font-size: .8em;
  color: #646466;
}
a {
  color: #646466;
  text-decoration: none;
}
a:hover {
  color: #fff;
  background-color: #000;
}
.pagination {
  padding: .5em 20px;
}
footer {
  padding: 2em 0;
  width: 100%;
  text-align: center;
  font-size: .8em;
}
